button,
input,
p {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.body {
  background-image: url(/public/img/sss.png);
  background-size: 100%;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
}

.title_box {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.main_title {
  margin: 0;
  padding: 20px 10px 20px 30px;
  font-size: 35px;
  font-family: "BN Dragon", sans-serif;
  font-weight: 200;
  font-stretch: ultra-condensed;
  color: white;
}

.E {
  display: inline-block;
  font-style: italic;
  font-size: larger;
  font-family: "BN Dragon", sans-serif;
}

.main_center {
  text-align: center;
}

.main_results {
  text-align: left;
}

.welcome {
  font-size: 30px;
  margin: 0px;
}

.welcome_p {
  margin-bottom: 17px;
  color: white;
}

.question {
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
}

.redTeam {
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  margin-right: 50px;
  border-radius: 5px;
  background: linear-gradient(to top left, #d90e0e, #ff4778);
  cursor: pointer;
  transition: opacity 0.5s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.redTeam:hover {
  opacity: 0.8;
}

.redTeam:active {
  opacity: 0.7;
}

.main_results {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr;
  margin-top: 15px;
  margin-left: 15px;
}

.result_cataguries {
  color: white;
}

.main_box {
  display: flex;
  justify-content: space-between;
}

.redTeam {
  border: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 15px 10px;
  margin-right: 50px;
  margin-top: 15px;
  border-radius: 5px;
  background: linear-gradient(to top left, #d90e0e, #ff4778);
  cursor: pointer;
  transition: opacity 0.5s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.redTeam:hover {
  opacity: 0.8;
}

.redTeam:active {
  opacity: 0.7;
}
