<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Eternal Project</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/public/css/fixing_finished.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script src="/public/js/logout.js"></script>
  </head>
  <div>
    <body class="body">
      <div id="header">
        <header>
          <div>
            <p class="main_title">The <span class="E">E</span>ternal Project</p>
          </div>
        </header>
      </div>
      <div>
        <main>
          <div class="scan-box">
            <img class="sans_scaning" src="/public/img/sansScaning.png" />
            <p class="main_parag">Come back next time!</p>
          </div>
        </main>
      </div>
      <div>
        <footer></footer>
      </div>
    </body>
  </div>
</html>
