<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="/public/css/login.css"
  />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form action="/login" method="post">
      <h3>Login</h3>

      <h5 class="error">username or password are incorrect.</h4>

      <label for="username">Username</label>
      <input type="text" placeholder="Username" name="username" id="username" />

      <label for="password">Password</label>
      <input type="password" placeholder="Password" name="password" id="password" />
  
      <button type="submit" value="login" class="login">Log In</button>
      <h4>dont have an account? <a href="register.ejs">register</a></h4>
      </div>
    </form>
    <script src="/public/js/login.js"></script>
  </body>
</html>
